/*==========================================================================

	Structure Elements Stylesheet
	____________________________________________________________

	Client:		P2D Paper 2 Data
	Date:		27th March 2014
	Author:		VNS &amp; Solutions
	Website:	www.vnsinfo.com.au
	Version:	3.91

===========================================================================*/

/* [Site Container] */

.site
{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: url(../assets/img/mainbg_shadow.png) 50% 0 repeat-y;
}
.mainWrapper
{
    background: #fff;
}



/*=========================================================================*/

/* [Main Container Styles] */





/*=========================================================================*/

/* [Header Styles] */

#header
{
    width: 100%; /*height: 144px;*/
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

/*=========================================================================*/

/* [Navigation Styles] */

#navigation
{
    width: auto;
    margin: 0 auto;
}



/*=========================================================================*/

/* [Page Styles] */

#page
{
    width: 100%;
    margin: 0 auto;
}



/*=========================================================================*/

/* [Content Styles] */

.content
{
    width: /*630px*/ 640px;
    float: left;
    padding: 0 /*70px*/ 60px 0 24px;
    margin-bottom: 40px;
}

#homepage #page .content
{
    width: 927px;
}

/*=========================================================================*/

/* [Sidecol Styles] */

#sidecol
{
    width: 255px;
    float: right;
    margin-bottom: 16px;
    margin-right: 44px;
}

/*=========================================================================*/

/* [Footer Styles] */

#footer
{
    margin: 0 auto 0;
    background: #ccc;
}
/*#footer a:link,
		#footer a:visited
		{
			color: #fff;
		}*/

/*=========================================================================*/

/* [Legal Styles] */

#legal
{
    background-color: #eee;
    background-image: none;
    color: #666;
    text-align: justify;
}

#legal h1, #legal h2, #legal h3, #legal h4
{
    color: #666;
}

.legal
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.legal p
{
    margin: 15px 0;
}

.legal p.border
{
    border-top: 1px solid #ccc;
    padding: 10px 0 0 0;
}
