<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--Common-->
		<add key="SitePathForLink" value="https://www.p2dgroup.com/edit_company.aspx?CID="></add>
		<add key="ServiceURL" value="http://192.168.1.147/WebService-File%20download/FileDownload.asmx"></add>
		<add key="ServiceURL2" value="http://192.168.1.148/WebService-File%20download2/FileDownload2.asmx"></add>
		<add key="ServiceURLNew" value="http://192.168.1.148/WebServiceDownloadNew/DownloadNew.asmx"></add>
		<add key="ReprocessingRequestsWS" value="http://192.168.1.147/ReprocessingRequests/ReprocessingRequests.asmx"></add>
		<add key="WSCheckExistingFileFolder" value="http://192.168.1.148/WSCheckExistingFileFolder/WSCheckExistingFileFolder.asmx"></add>
		<add key="FilesLocation" value="C:\File Repository\FTP Archive\New Look Retailers Ltd\"></add>
		<add key="ScanQcURL" value="http://207.97.236.67/P2D2HomePage.aspx"></add>
		<add key="Cypher on" value="YES"></add>
		<add key="UploadExcel" value="..\Records\"></add>
		<add key="MailServer" value=""></add>
		<add key="AwaitingReportFolder" value="D:\P2D\IPE Archive"></add>
		<add key="AwaitingReportFolderForIPEDUFF" value="D:\P2D"></add>
		<add key="DalkiaDataFileIN" value="D:\Dalkia Data Files\IN"></add>
		<add key="ContactUsMail" value="info@p2dgroup.com"></add>
		<add key="MailFrom" value="support@p2dgroup.com"></add>
		<add key="CCMail" value=""></add>
		<add key="BCCMail" value="P2d@vnsinfo.com.au"></add>
		<add key="MailSubject" value="P2D Support"></add>
		<add key="MailBody" value="Dear User,   Your username is : @@UserName@@. Your password is : @@Password@@."></add>
		<add key="MailBodySuppliers" value="Test Mail (Suppliers)."></add>
		<add key="InvoiceMailSubject" value="Invoice Information"></add>
		<add key="InvoiceMailBody" value="Dear User,   Invoice number @@INVNO@@ has been forwarded for @@APPROVALSTATUS@@."></add>
		<add key="TempInvoicePath" value="..\Temp\"></add>
		<add key="InvoiceDocPath" value="http://invoices.gmgradio.com/"></add>
		<add key="ExportDocPath" value="http://hubcodes.gmgradio.com/"></add>
		<add key="SNM" value="261375-APP1"></add>
		<add key="SUN" value="sa"></add>
		<add key="SPWD" value="P@Dgr07p"></add>
		<add key="DTS_Package_InvoiceD" value="DalkiaCsvPackage_INV"></add>
		<add key="DTS_Package_InvoiceD_Current" value="DalkiaCsvPackage_INV_Current"></add>
		<add key="DTS_Package_CreditD" value="DalkiaCsvPackage_CN"></add>
		<add key="DTS_Package_CreditD_Current" value="DalkiaCsvPackage_CN_Current"></add>
		<add key="DTS_Package_DebitD" value="DalkiaCsvPackage_DN"></add>
		<add key="P2DIntermediate" value="https://www.p2dgroup.com/P2DIntermediate.aspx"></add>
		<add key="ETCLoginInfoMailFrom" value="Support@p2dgroup.com('Accounts Payable')"></add>
		<add key="CAppAqillaServiceTiming" value="14,19"></add>
		<add key="Log on_max_error_time_minutes" value="58"></add>
		<add key="UploadDoc" value="DocumentUpload"></add>
		<add key="UploadDoc_CN" value="DocumentUpload_CN"></add>
     <!--added by kd-->
    <add key="InvoiceExportPath_JKS" value="D:\JKS Data Files\OUT"></add>
    <add key="InvoiceExportPathDuplicate_JKS" value="D:\JKS Data Files\EXPORT"/>
    <!--Not Active-->
		<add key="UserMainPage" value="http://www.p2dgroup.com/User/UserMain.aspx"></add>
		<add key="FirstLoginPage" value="http://www.p2dgroup.com/User/firstlogin.aspx"></add>
		<!--Not Active-->

		<!--Added by Koushik Das on nd 7th June 2016-->
		<add key="test" value="false"></add>
		<!--- Addiion End -->

		<!--Added by Koushik Das on 24th June 2016-->
		<add key="DocTaskArchive" value="\\90107-server3\FTP Archive\DocTask Archive"></add>
		<!--- Addiion End -->

		<!---OneWay Encryption Salting String-->
		<add key="SaltingKey" value="ea521bb451334734b50a449f3c1efec9"></add>
		<!---OneWay Encryption Salting String-->

		<!--<add key="ConnectionString" value="server=261375-APP1; database=ETH; uid=sa; pwd=P@Dgr07p; Min Pool Size=5;Max Pool Size=500;Connect Timeout=6000;"></add>-->
		<add key="ConnectionString" value="Data Source=WINSERVER-PC\SQLSERVER2008R2;Initial Catalog=ETH_11thJuly2018;uid=sa;pwd=Envertis!@#$;Integrated Security=False"></add>

		<!--Viewstate optimization Start-->
		<add key="ServerSideViewState" value="True" />
		<add key="ViewStateStore" value="Session" />
		<add key="ViewStateTableSize" value="150" />
		<!--Viewstate optimization End-->
		<!--Common-->

		<!--Start of JKS Specific Settings-->
		<add key="JKSLoginInfoMailFrom" value="support@p2dgroup.com(Accounts Payable)"></add>
		<add key="JKSLoginInfoMailSubject" value="Invoice Approvals System"></add>
		<add key="JKSLoginInfoMailBody" value="Dear colleague,$$Below are your log-in details for the Invoice Approvals System:$$Username = @@UserName@@ $Password = @@Password@@$$"></add>
		<add key="ServerSideViewState_JKS" value="True"></add>
		<add key="ViewStateStore_JKS" value="Session"></add>
    <add key="InvoiceExportPath_JKS" value="D:\JKS Data Files\OUT"></add>
    <add key="InvoiceExportPathDuplicate_JKS" value="D:\JKS Data Files\EXPORT"/>
		<add key="UserMainPage_JKS" value="JKS/Current/CurrentStatus.aspx"></add>
		<add key="FirstLoginPage_JKS" value="JKS/User/firstlogin.aspx"></add>
		<add key="CMS_JKS" value="JKS/CMS/CMS.aspx"></add>
		<!--End of JKS Specific Settings-->
	</appSettings>
	<system.web>

		<!--<httpModules>
      <add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload"></add>
	  </httpModules>-->

		<httpRuntime maxRequestLength="102400" executionTimeout="240"></httpRuntime>
		<pages validateRequest="false"></pages>


		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
		<!--<compilation
         defaultLanguage="c#"
         debug="true"
    ></compilation>-->
		<compilation debug="true" defaultLanguage="c#" strict="false" explicit="true" batch="false" targetFramework="4.0">
			<assemblies>
				<!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"></add>
				<add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"></add>
				<add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"></add>
				<add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"></add>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"></add>
				<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"></add>
				<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"></add>-->
			</assemblies>
		</compilation>
		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
		<customErrors mode="On" defaultRedirect="close_win.aspx"></customErrors>

		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
		<authentication mode="Windows"></authentication>

		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->

		<authorization>
			<allow users="*"></allow>
			<!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>

		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"></trace>

		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="60"></sessionState>

		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"></globalization>


		<webServices>
			<protocols>
				<add name="HttpGet"></add>

			</protocols>
		</webServices>
		<httpHandlers>
			<!-- PLEASE ADD THIS, IMPORTANT -->
			<add verb="GET,POST" path="TifViewer.axd" type="TiffViewer.TiffImageHandler, AnnotationTiffViewer"></add>
		</httpHandlers>
	</system.web>
	<!--Added By kuntal on 29.07.2015 for HTTPS redirect-->
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
					<match url="(.*)"></match>
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$"></add>
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther"></action>
				</rule>
			</rules>
		</rewrite>
		<directoryBrowse enabled="false"></directoryBrowse>
		<defaultDocument>
			<files>
				<clear></clear>
				<add value="JKSDefault.aspx"></add>
				<add value="Default.aspx"></add>
				<add value="Default.htm"></add>
				<add value="Default.asp"></add>
				<add value="index.htm"></add>
				<add value="index.html"></add>
				<add value="iisstart.htm"></add>
			</files>
		</defaultDocument>
		<httpErrors errorMode="DetailedLocalOnly"></httpErrors>
		<httpProtocol>
			<customHeaders>
				<!--The 'Access Control Allow Origin' HTTP header is used to control which sites are allowed to bypass same origin policies and send cross-origin requests.-->
				<remove name="Access-Control-Allow-Origin"></remove>
				<add name="Access-Control-Allow-Origin" value="*"></add>
				<!--The 'Cache-Control' response header controls how pages can be cached either by proxies or the users browser. This response header can provide enhanced privacy by not caching sensitive pages in the users browser cache.-->
				<remove name="Cache-Control"></remove>
				<!--<add name="Cache-Control" value="no-store, no-cache"></add>-->
				<!--The HTTP Strict Transport Security header is used to control if the browser is allowed to only access a site over a secure connection and how long to remember the server response for, forcing continued usage.-->
				<remove name="Strict-Transport-Security"></remove>
				<add name="Strict-Transport-Security" value="max-age=15768000"></add>
				<!--The X-Frame-Options header indicates whether a browser should be allowed to render a page within a frame or iframe. The valid options are DENY (deny allowing the page to exist in a frame) or SAMEORIGIN (allow framing but only from the originating host) Without this option set the site is at a higher risk of click-jacking.-->
				<remove name="X-Frame-Options"></remove>
				<add name="X-Frame-Options" value="SAMEORIGIN"></add>
				<!--The X-XSS-Protection header is used by Internet Explorer version 8+ The header instructs IE to enable its inbuilt anti-cross-site scripting filter. If enabled, without 'mode=block', there is an increased risk that otherwise non-exploitable cross-site scripting vulnerabilities may potentially become exploitable.-->
				<remove name="X-XSS-Protection"></remove>
				<add name="X-XSS-Protection" value="1; mode=block"></add>
				<!--MIME type sniffing security protection. It reduces the ability of the browser (mostly IE) being tricked into facilitating driveby attacks.-->
				<remove name="X-Content-Type-Options"></remove>
				<add name="X-Content-Type-Options" value="nosniff"></add>
				<!--MIME type sniffing security protection. A little extra security (by obscurity), removings fun but adding your own is better-->
				<remove name="X-Powered-By"></remove>
				<add name="X-Powered-By" value="ASP.NET"></add>
				<remove name="X-AspNet-Version" />
				<add name="X-AspNet-Version" value="*" />
				<remove name="Content-Security-Policy"></remove>
				<add name="Content-Security-Policy" value= "strict-origin"></add>				
				<!--With Content Security Policy (CSP) enabled and a browser that supports it, you can tell the browser that it can only download content from the domains you explicitly allow CSP can be quite difficult to configure, and cause real issues if you get it wrong.-->
				<!--<remove name="Content-Security-Policy"></remove>
			<add name="Content-Security-Policy" value="default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' https://www.google-analytics.com;"></add>-->
				<!--Allow cookies to be set from iframes (for IE only) If needed, uncomment and specify a path or regex in the Location directive.-->
				<remove name="P3P"></remove>
				<add name="P3P" value="policyref=&quot;/w3c/p3p.xml&quot;, CP=&quot;IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT&quot;"></add>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<!--Addition Ends by kuntal-->
</configuration>